/** LAYOUT **/

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  padding: 108px 0 0 0;
  margin: 0;
}

.container {
  display: flex;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 108px;
  background-color: #004098;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

header .brand {
  display: inline-block;
  flex: none;
  width: 300px;
  height: 108px;
}

header input[type=text] {
  display: inline-block;
  flex: 1;
  margin: 0 60px;
  height: 40px;
}

nav {
  flex: none;
  width: 300px;
  background-color: #ebebeb;
}

.sticky {
  position: fixed;
  top: calc(108px + 40px);
  left: 30px;
}

main {
  flex: 1;
  padding: 40px 60px;
}

section {
  display: flex;
  max-width: 820px;
  margin: 0 0 60px 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section.selected {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.94);
  padding: 60px;
}

#add {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 64px;
  height: 64px;
}

#close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
}


/** CARDS **/

section:hover {
}

.card {
  flex: 1;
  margin-right: 20px;
  min-width: 200px;
}


/** TYPOGRAPHY **/

@import url('https://fonts.googleapis.com/css?family=Lora:400|Montserrat:300,400,600');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 18pt;
  color: #ccc;
}

/* Sidebar */

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  line-height: 14pt;
  text-transform: uppercase;
  color: #ccc;
}

nav li {
  list-style: none;
}

nav ul {
  padding-left: 0;
  padding-bottom: 10px;
}

.products a, 
.usertypes a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  line-height: 18pt;
  text-decoration: none;
}

.products a {
  color: #666;
}

.usertypes a {
  color: #999;
}

.products a:hover::before, 
.usertypes a:hover::before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -17px;
  font-size: 18pt;
  font-weight: normal;
  line-height: 18pt;
}

a.selected {
  font-weight: 600;
  color: #004098;
}

a.selected::before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -17px;
  font-size: 18pt;
  font-weight: normal;
  line-height: 18pt;
}

/* Jobstories */

.card h2 {
  display: none;
}

.card p {
  font-family: 'Lora', serif;
  font-size: 16pt;
  line-height: 21pt;
  color: #333;
}

.card a {
  text-decoration: none;
  color: #333;
}

#add {
  border-radius: 50%;
  border: 0 none transparent;
  padding: 0;
  margin: 0;
  background-color: #004098;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

#add span {
  display: none;
}

#add:before {
  background: white;
  content: "";
  position: absolute;
  left: calc((64px - 2px) / 2);
  top: calc((64px - 24px) / 2);
  height: 24px;
  width: 2px;
}
#add:after {
  background: white;
  content: "";
  position: absolute;
  left: calc((64px - 24px) / 2);
  top: calc((64px - 2px) / 2);
  height: 2px;
  width: 24px;
}

#close {
  border-radius: 50%;
  border: 0 none transparent;
  padding: 0;
  margin: 0;
  background-color: white;
}

#close span {
  display: none;
}

#close:before {
  background: #ccc;
  content: "";
  position: absolute;
  left: calc((64px - 2px) / 2);
  top: calc((64px - 24px) / 2);
  height: 24px;
  width: 2px;
  transform: rotate(45deg);
}
#close:after {
  background: #ccc;
  content: "";
  position: absolute;
  left: calc((64px - 24px) / 2);
  top: calc((64px - 2px) / 2);
  height: 2px;
  width: 24px;
  transform: rotate(45deg);
}

/* Header */

header .brand {
  background-image: url('/logo-white.svg');
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: 30px;
}

header .brand span {
  display: none;
}

header input[type=text] {
  border-radius: 20px;
  border: 0 none transparent;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 40px;
  padding: 0px 20px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

header input[type=text]:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #666;
}
