/** LAYOUT **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  padding: 108px 0 0 0;
  margin: 0;
}

.container {
  display: flex;
}

input:focus, 
textarea:focus, 
button:focus,
a:focus {
  outline: none;
}

/* Header */

header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 108px;
  background-color: #004098;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

header .brand {
  display: inline-block;
  flex: none;
  width: 300px;
  height: 108px;
}

header input[type=text] {
  display: inline-block;
  flex: 1;
  margin: 0 60px;
  height: 40px;
}

/* Sidebar */

nav {
  flex: none;
  width: 300px;
  background-color: #ebebeb;
}

.sticky {
  position: fixed;
  top: calc(108px + 40px);
  left: 30px;
}

/* Jobstories */

main {
  flex: 1;
  padding: 40px 60px;
}

#add {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 64px;
  height: 64px;
}

section {
  display: flex;
  flex-direction: column;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cards {
  flex: none;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.card {
  flex: 1;
  padding: 0 20px 0 0;
  min-width: 240px;
  max-width: 400px;
}

.separator {
  list-style: none;
  display: flex;
  margin-bottom: 64px;
}
.separator li {
  flex: 1;
}
.separator li span {
  display: block;
  background: #DBDBDB80;
  position: relative;
  height: 6px;
  line-height: 6px;
  margin-right: 7px;
}
.separator li:first-child span:before {
  border: none;
}
.separator li:last-child span:after {
  border: none;
}
.separator li span:before, 
.separator li span:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #DBDBDB80;
  border-width: 3px 2px;
  width: 0;
  height: 0;
}
.separator li span:before {
  left: -4px;
  border-left-color: transparent;
}
.separator li span:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #DBDBDB80;
}


/* Jobstory Modal */

body.jobStorySelected {
  overflow: hidden;
}

section.selected {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0;
  z-index: 1000;
  background-color: transparent;
  background-image: linear-gradient(rgb(240, 243, 248) 0, rgb(243, 246, 250) 100px, rgba(249, 250, 252, 0.99) 124px, rgba(253, 253, 253, 0.98) 160px, rgba(253, 253, 253, 0.98) 100%);
  padding: 60px;
  overflow: auto;
}

.selected .cards {
  justify-content: center;
}

.selected .card {
  padding: 0 50px;
  max-width: 440px;
}

.card textarea {
  width: 100%;
  height: 200px;
}

.forces textarea {
  width: 100%;
  height: 120px;
}

.tags {
  flex: none;
  display: flex;
  min-height: 20px; /* TODO: Tags div collapses if no min-height is defined. Why? */
  margin-bottom: 10px;
}

.tags>div {
  height: 20px;
  padding: 2px 6px 2px 6px;
  margin: 1px;
}

.tags>div>span {
  color: #ccc;
}

.tags input {
  margin-right: 4px;
}

.selected .separator li span {
  background-color: #33333380;
}
.selected .separator li span:before {
  border-color: #33333380;
  border-left-color: transparent;
}
.selected .separator li span:after {
  border-left-color: #33333380;
}

.editing .separator {
  opacity: 0.1;
}

.toolbar {
  position: fixed;
  height: calc(30px + 48px + 30px);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 20px 30px 30px;
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: 30px;
  text-align: right;
  background-color: transparent;
  background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.97) 5%, rgba(255, 255, 255, 0.97) 100%);
  background-image: url('/logo-gray.svg');
}

#close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
}

.forces {
  flex: none;
  display: flex;
  justify-content: center;
}

.positiveForces,
.negativeForces {
  flex: none;
  width: 40%;
  max-width: 360px;
  padding: 0 20px;
}

.positiveForces {
  border-right: 1px solid #F5F5F5;
}

.forces div div {
  margin-bottom: 22px;
}


/** TYPOGRAPHY **/

@import url('https://fonts.googleapis.com/css?family=Lora:400|Montserrat:300,400,600');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 18pt;
  color: #ccc;
}

/* Sidebar */

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  line-height: 14pt;
  text-transform: uppercase;
  color: #ccc;
}

nav li {
  list-style: none;
}

nav ul {
  padding-left: 0;
  padding-bottom: 10px;
}

.products a, 
.usertypes a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  line-height: 18pt;
  text-decoration: none;
}

.products a {
  color: #666;
}

.usertypes a {
  color: #999;
}

.products a:hover::before, 
.usertypes a:hover::before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -17px;
  font-size: 18pt;
  font-weight: normal;
  line-height: 18pt;
}

a.selected {
  font-weight: 600;
  color: #004098;
}

a.selected::before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -17px;
  font-size: 18pt;
  font-weight: normal;
  line-height: 18pt;
}

/* Jobstories */

.card h2 {
  display: none;
}

p, textarea {
  font-family: 'Lora', serif;
  font-size: 16pt;
  line-height: 21pt;
  color: #333;
}

.card a {
  text-decoration: none;
  color: #333;
}

.searchHighlight {
  font-weight: 600;
}

#add {
  border-radius: 50%;
  border: 0 none transparent;
  padding: 0;
  margin: 0;
  background-color: #004098;
  box-shadow: 0 2px 12px rgba(0, 20, 50, 0.6);
  box-shadow: 0 4px 8px rgba(0, 70, 180, 0.3);
}

#add:active {
  background-color: #003580;
  box-shadow: 0 1px 6px rgba(0, 20, 50, 0.8);
  box-shadow: 0 2px 4px rgba(0, 70, 180, 0.4);
}

#add span {
  display: none;
}

#add:before {
  background: white;
  content: "";
  position: absolute;
  left: calc((64px - 2px) / 2);
  top: calc((64px - 24px) / 2);
  height: 24px;
  width: 2px;
}

#add:after {
  background: white;
  content: "";
  position: absolute;
  left: calc((64px - 24px) / 2);
  top: calc((64px - 2px) / 2);
  height: 2px;
  width: 24px;
}

/* Jobstories Modal */

.selected .card h2 {
  display: inherit;
}

.card textarea,
.forces textarea {
  padding: 0;
  border: 0 none transparent;
  background-color: transparent;
  background-image: repeating-linear-gradient(transparent, transparent 28px, #e6e6e6 28px, #e6e6e6 29px);
  background-position-y: -6px;
}

.card.focused textarea {
  background-image: repeating-linear-gradient(transparent, transparent 28px, #7FB4FF 28px, #7FB4FF 29px);
}

.forces textarea {
  background-image: repeating-linear-gradient(transparent, transparent 23px, #e6e6e6 23px, #e6e6e6 24px);
  background-position-y: -2px;
}

.forces div.focused textarea {
  background-image: repeating-linear-gradient(transparent, transparent 23px, #7FB4FF 23px, #7FB4FF 24px);
}

.card.focused h2 {
  color: #7FB4FF;
}

.forces p,
.forces textarea {
  font-size: 14pt;
  line-height: 18pt;
}

#close {
  border-radius: 50%;
  border: 0 none transparent;
  padding: 0;
  margin: 0;
  background-color: white;
}

#close span {
  display: none;
}

#close:before {
  background: #ccc;
  content: "";
  position: absolute;
  left: calc((64px - 2px) / 2);
  top: calc((64px - 24px) / 2);
  height: 24px;
  width: 2px;
  transform: rotate(45deg);
}

#close:after {
  background: #ccc;
  content: "";
  position: absolute;
  left: calc((64px - 24px) / 2);
  top: calc((64px - 2px) / 2);
  height: 2px;
  width: 24px;
  transform: rotate(45deg);
}

.tags>div {
  background-color: #e6e6e6;
  color: #999;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  font-weight: 600;
  line-height: 12pt;
}

.button {
  margin-left: 8px;
  padding: 0 60px;
  height: 36px;
  border-radius: 18px;
  border: 0 none transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  font-weight: 600;
  line-height: 18pt;
}

.button-primary {
  background-color: #004098;
  color: white;
}

.button-secondary {
  background-color: #e6e6e6;
  color: #666;
}

.button-primary:active {
  background-color: #003580;
}

.button-secondary:active {
  background-color: #ddd;
}

/* Header */

header .brand {
  background-image: url('/logo-white.svg');
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: 30px;
}

header .brand span {
  display: none;
}

header input[type=text] {
  border-radius: 20px;
  border: 0 none transparent;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 40px;
  padding: 0px 20px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

header input[type=text]:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #666;
}


/** RESPONSIVE **/

@media (max-width: 800px) {

  body {
    padding-top: 170px;
  }

  .container {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    height: 170px;
    padding: 10px;
  }

  header input[type=text] {
    margin: 0;
    width: 100%;
    flex: none;
  }
  
  nav {
    flex: 1;
    width: 100%;
    padding: 20px;
  }

  .sticky {
    position: inherit;
  }

  main {
    padding: 20px;
  }

  section.selected {
    padding: 30px;
  }

  .cards {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .card {
    padding: 0;
    min-width: 100%;
    max-width: 100%;
  }

  .selected .card {
    padding: 0;
  }

  .card p {
    margin: 0 0 20px 0;
  }

  .selected .separator {
    display: none;
  }

  p, textarea {
    font-size: 14pt;
    line-height: 20pt;
  }  

  .forces {
    justify-content: flex-start;
  }

  .positiveForces,
  .negativeForces {
    flex: 1;
  }

  .positiveForces {
    padding: 0 20px 0 0;
  }

  .negativeForces {
    padding: 0 0 0 20px;
  }

  .toolbar {
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.1);
  }

}
